*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/drawable
.externalNativeBuild
/app/src/main/res/
.idea/vcs.xml
app/libs/
/app/src/main/res/raw/
